/*General*/
.custom-font{
	font-family:'TitilliumText25L';
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

/*About block*/
.custom-blockquote {
	background: #cdcccb;
	border-right: 10px solid #787776;
	text-align: right;
}

/*Contact block*/
.contact-block-custom-input{
	font-size:1.125rem;
	line-height:50px;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}
.contact-block-custom-input:focus{
	font-size:1.125rem;
	line-height:50px;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}

.contact-block-custom-textarea{
	font-size:1.125rem;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}
.contact-block-custom-textarea:focus{
	font-size:1.125rem;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}

.contact-block-custom-button{
	font-size:1.5rem;
	line-height:50px;
	background-color:#1b1d20;
	color:#bb5557;
	border:none;
	transition:1s;
}
.contact-block-custom-button:hover{
	font-size:1.5rem;
	line-height:50px;
	background-color:#bb5557;
	color:#1b1d20;
	border:none;
	cursor:pointer;
}
/*Mid Block*/
.custom-visit-button {
	color:#de5e60;
	background-color:#2f3238;
	cursor:pointer;
	transition: all 1s ease;
	text-transform: none;
}
.custom-visit-button:hover {
	color: #000000;
	background-color: #de5e60;
	text-transform: none;
}

.custom-block-image {
	opacity: 0.7;
	cursor: pointer;
}
.custom-block-image:hover {
	opacity: 1;
}

/*MenuBar*/
.navbar-nav > li{
  padding-left: 10px;
  padding-right: 10px;
}

#bootstrap-override-id .custom-navbar {
	background-color: #2f3238;
	box-shadow: 0px 0px 35px #888888;
}

#bootstrap-override-id .custom-nav-button {
	color: #9d9d9d;
	font-size: 1.25rem;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
#bootstrap-override-id .custom-nav-button:hover {
	color: #de5e60;
}

.dropdown-toggle::after {
    display:none
}

#bootstrap-override-id .custom-dropdown-menu {
	background-color: #2f3238;
	color: #9d9d9d;
}

#bootstrap-override-id .custom-dropdown-item {
	color: #9d9d9d;
}
#bootstrap-override-id .custom-dropdown-item:hover {
	background-color: #232221;
	color: #FFFFFF;
}

.menubar-custom-input {
	font-size:1.25rem;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}
.menubar-custom-input:focus {
	font-size:1.25rem;
	color:#cdcdcd;
	background-color:#1b1d20;
	border:none;
}

/*Admin block*/
#bootstrap-override-id .custom-icon-delete {
	cursor: pointer;
	color: #ff3300;
}
