<html>
	<head>
		{%load staticFiles%}
		<title>Mechmania | IndustryName</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link id="fontsCSS" rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />
		<link id="bsCSS" rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
		<link id="cusCSS" rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
	</head>
	<body class="custom-font" id="bootstrap-override-id">
		<div class="col-md-12" style="background-color:#212921;">

		</div>
	</body>
</html>
