<html>
	<head>
		{% load staticfiles %}
		<link id="bsCSS" rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

		<link id="fontsCSS" rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>


		<title>Industrial Visits</title>

		<style type="text/css">
			.clearBug{
				overflow:hidden;
			}
			.upper{
				cursor: pointer;
			}
			.detailsButton{
				background-color:#de5e60;
			}
			.detailsButton{
				border-radius:0px;
				background-color:#de5e60;
			}
			.detailsButton:hover{
				background-color: #212529;
				color: #de5e60;
			}
			.industryListHeading{
				height:30%;
				width:100%;
				text-align:left;
				vertical-align:middle;
				color:#fff;
				background-color:#232221;
				padding: 3% 0 3% 5%;
				clear:both;
				display:block;
				margin: 0 0 0 0;
				border-bottom: 3px solid #de5e60;
			}
			body{
				background-color:#2f3238;
			}

			.indPageSelector:hover{
				background-color:#212529;
			}
			.indPageSelector.active{
				background-color:#212529;
				border:2px solid #de5e60;
				border-bottom:none;
			}
			.indPageSelector{
				display:inline-block;
				margin:0;
				margin-top:20;
				padding:0;
				line-height:4vw;

				font-weight:bold;
				outline:none;
				cursor:pointer;
				float:left;
				color:#fff;
				background-color:inherit;
				border:none;
				border-bottom:2px solid #de5e60;

				font-size-adjust:0.5;
			}
			.fa-caret-left, .fa-caret-right{
				color: #de5e60;
			}
			.fa-caret-left:hover{
				background-color:
			}
		</style>
		<script type="text/javascript">
			function setPage(num){
				window["page"] = num;
			}

			function showContent(evt, name) {
				var i, tabcontent, tablinks;
				//alert("show content called");
				if(name == "internship"){
					//alert("hii in internship");
					searchInternships(1,"no","no");
				}
				else{
					//alert("you called function to find industrialvisit");
					searchIVs(1,"no","no")
				}

				document.getElementsByClassName("internships")[0].style.display = "none";
				document.getElementsByClassName("industrialVisits")[0].style.display = "none";

				tablinks = document.getElementsByClassName("indPageSelector");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}

				var intern = document.getElementsByClassName("internships")[0];
				var ivs = document.getElementsByClassName("industrialVisits")[0];

				if(name=="internship"){
					evt.currentTarget.className += " active";
					intern.style.display = "block";
				}
				else{
					evt.currentTarget.className += " active";
					ivs.style.display = "block";
				}
			}

			function giveStyles(){
				$(".moreDetails").hide();
				$(".upper").click(function(){
					console.log($(this).next(".moreDetails").length);
					if ( $(this).next(".moreDetails").css('display') == 'none' ){
						$(this).next(".moreDetails").slideUp(500);
						console.log("in first if");
						$(this).next(".moreDetails").slideToggle(500);
					}
					else
					{
						console.log("In 2nd if");
						$(this).next(".moreDetails").slideToggle(500);
					}
				});
				//document.getElementById("defaultOpen").click();
			}

			function searchInternships(pageno,loc,type)
			{
				//alert(pageno);
				//document.getElementsByClassName("searchResult")[0].style.display="block";
				$.post('/internships/internshipData/',{
					'pageno':pageno,
					'location':loc,
					'type':type,
					'csrfmiddlewaretoken': '{{ csrf_token }}'},
					function(data){
						setPage(pageno);
						JSON.stringify(data);
						writeInternships(data)
					}
				);

			}

			function searchIVs(pageno,loc,type)
			{
				//alert("in searchIVs");
				//document.getElementsByClassName("searchResult")[0].style.display="block";
				$.post('/internships/industrialVisits/',{
					'pageno':pageno,
					'location':loc,
					'type':type,
					'csrfmiddlewaretoken': '{{ csrf_token }}'},
					function(data){
						setPage(pageno);
						JSON.stringify(data);
						//alert(data);
						writeIVs(data);
					}
				);

			}

			function goDetailsPage(indId){
				var method = 'GET';
				var a = document.createElement("a");
				a.setAttribute("href","http://127.0.0.1:8000/internships/applyInternship?industry="+indId);
				document.body.appendChild(a);
				//alert(a.href);
				a.click();
			}

			function applyFor(pk, btnname){
				if(btnname == "Apply"){
					{% if user.is_authenticated %}
						//alert("authenticated already");
						goDetailsPage(pk);
					{% else %}
						window.location = "/loginsignup.html";
						//goDetailsPage(pk);
					{% endif %}
				}
				else{
					window.location = "applications/"+pk;
				}
			}

			function writeInternships(data){
				var string = "";

				{% if user.is_authenticated %}
					{% if user.profile.is_admin %}
						var buttonName = "See Applicants";	// this will we see request if admin
					{% else %}
						var buttonName = "Apply";
					{%endif%}
				{% else %}
					var buttonName = "Apply";
				{% endif %}

				for(i=0;i<data.data.length;i++){
					IMAGE_STATIC_URL = data.data[i].logo;
					INTERNSHIP_ID = data.data[i].pk;
					string += '<div class="internshipBlock" style="border-bottom:1px solid #a9a9a9; border-bottom-width:70%"><div class="col-md-12 upper row nomargin" style="background-color:#212529">'
					+'<div class="col-md-4 nopadding"><div class="text-center"><img class=" center-block mt-4 mb-4 col-md-8 img-thumbnail" style="border-radius:0px;" src="/static'+IMAGE_STATIC_URL+'"></div></div>'
					+'<div class="middleBlock col-md-5 nopadding"><div class="col-md-12 mt-4"><div class="h3 text-center" style="color:#fff;">'
					+data.data[i].company + '</div><br><p style="color:#fff;">'+data.data[i].description +'</p></div></div>'
					+'<div class="col-md-3 nopadding"><div class="col-md-12 mt-5 ml-4 center" style="color:white;"><div class="col-md-12 text-center">Time Stamp<br>'
					+data.data[i].startdate+' to '+data.data[i].enddate +'</div><div class="col-md-12 mt-3 text-center">Type: <span>'+ data.data[i].type +'</span></div>'
					+'<div class="col-md-12 mt-3 text-center">Stipend: <span> &#8377; '+data.data[i].stipend+' /Month</span></div></div></div></div>'
					+'<div class="moreDetails" style="border-bottom:1px solid #a9a9a9; border-bottom-width:70%; color:#fff;display:none;background-color:#212529;"><div class="col-md-4 d-inline-block ml-4" style="display:inline-block;">'
					+'<div class="col-md-12 p-2"><div style="color:#de5e60;">Address:</div>'+data.data[i].address+'</div></div>'
					+'<div class="col-md-4 ml-5" style="display:inline-block;"><div class="col-md-12 p-2"><div style="color:#de5e60;">Website:</div><a href="https://'+data.data[i].website+'" target="_blank">'+data.data[i].website+'</a></div></div>'
					+'<div class="col-md-3" style="display:inline-block;">';

					if(data.data[i].allowed != 0){
						//alert("not allowed");
						//alert(data.data[i].allowed);
						if(data.data[i].pk == data.data[i].allowed)
							string += '<div class="col-md-6 p-2 mb-3 btn" disabled>Confirmed</div>';
						else
							string += '<div class="col-md-6 p-2 mb-3 btn" disabled>Cannot Apply</div>';
					}
					else{
						//alert(data.data[i].applied);
						if(data.data[i].applied == 0){
							string += '<div class="col-md-6 p-2 mb-3 btn detailsButton" onclick="applyFor('+data.data[i].pk+',\''+buttonName+'\')">'+buttonName+'</div>';
						}
						else{
							string += '<div class="col-md-6 p-2 mb-3">Already applied</div>';
						}
					}
					string += '</div></div></div>';

				}

				document.getElementById("internships").innerHTML = string;
				setPageNumber(data.nextButton);
				giveStyles();
			}

			function writeIVs(data){
				var string = "";
				//alert(data.data.length);
				var buttonName = "Apply"; // if admin then button to see applications
				for(i=0;i<data.data.length; i++){
					IMAGE_STATIC_URL = data.data[i].logo;
					IV_ID = data.data[i].pk;

					string +=
						'<div class="ivBlock"><div class="col-md-12 upper row" style="background-color:#212529;">'
						+'<div class="col-md-4 nopadding"><div class="text-center"><img class=" center-block mt-4 mb-4 col-md-10 img-thumbnail" style="border-radius:0px;" src="static'+IMAGE_STATIC_URL+'%}"></div></div>'
						+'<div class="middleBlock col-md-5 nopadding"><div class="col-md-12 mt-4"><div class="h3 text-center" style="color:#fff;">'+data.data[i].company+'</div><br>'
						+'<p style="color:#fff;">'+data.data[i].description+'</p>'
						+'</div></div><div class="col-md-3 nopadding"><div class="col-md-12 mt-5 ml-4 center" style="color:white;">'
						+'<div class="col-md-12 text-center">Duration<br>'+data.data[i].duration+'</div>'
						+'</div></div></div><div class="moreDetails" style="color:#fff;display:none;background-color:#212529;">'
						+'<div class="col-md-4 d-inline-block ml-4" style="display:inline-block;">'
						+'<div class="col-md-12 p-2"><div style="color:#de5e60;" class="text-center">Address:</div>'+data.data[i].address+'</div>'
						+'</div><div class="col-md-4 ml-5" style="display:inline-block;"><div class="col-md-12 p-2 text-center"><div style="color:#de5e60;">Website:</div>'+data.data[i].website+'</div></div>'
						+'<div class="col-md-3" style="display:inline-block;"><div class="col-md-12 p-2 mb-3 btn detailsButton">'+buttonName+'</div></div>'
						+'</div></div>';
					document.getElementsByClassName("industrialVisits")[0].innerHTML = string;
				}
			}

			function setPageNumber(isNext){
				var btn = document.getElementsByClassName("prevButton")[0];
				var nbtn = document.getElementsByClassName("nextButton")[0];
				if(window["page"] == 1){
					btn.style.pointerEvents = "none";
					btn.style.backgroundColor = "#808080";
				}
				else{
					btn.style.pointerEvents = "auto";
					btn.style.backgroundColor = "#fff";
				}
				//alert(isNext);
				if(isNext){
					//alert("in true block");
					nbtn.style.pointerEvents = "auto";
					nbtn.style.backgroundColor = "#fff";
				}
				else{
					//alert("in false block");
					nbtn.style.pointerEvents = "none";
					nbtn.style.backgroundColor = "#808080";
				}
			}

			function changePage(where){
				var a = window["page"];
				if(where == 'next'){
					searchInternships(a+1,'no','no');
					window["page"] = a+1;
				}
				else{
					searchInternships(a-1,'no','no');
					window["page"] = a-1;
				}
			}
		</script>
	</head>

	<body class="custom-font" id="bootstrap-override-id" onload="setPage(1);">
		<div class="myContainer">
			{% if user.is_authenticated %}
				<div class="col-md-12" style="color:#fff;"> Hii {{user.username}}  <a href="{% url 'Accounts:logout' %}">[logout]</a></div>
			{% else %}
				<div>Login</div>
			{% endif %}
			<div class="industryListHeading w-100"><div class="headingText h1">Internships &amp Industrial Visits</div></div>

			<div class="selector clearfix" style="background-color:#2f3238;margin-top:20px;">
				<div class="detailsPageTabStrip" style="height:10vh;">
					<button class='indPageSelector h2 col-sm-5 col-md-5 h-100' id='defaultOpen' onclick="showContent(event, 'internship')">Internship</button>
					<button class='indPageSelector h2 col-sm-5 col-md-5 h-100' onclick="showContent(event, 'industrialVisit')">Industrial Visits</button>
				</div>
			</div>

			<div class="internships" id="internships">
				<!--This loads dynamically-->
			</div>


			<div class="industrialVisits" style="display:none;">
				<!-- dynamically loading industrialVisit -->
			</div>

			<!--Page changer-->
			<div class="col-md-12 pt-5">
				<ul class="pagination display-flex justify-content-center">
					<li class=" col-md-1 page-item  text-center p-0 pr-2" ><div class="page-link pb-3 pt-3 prevButton" style="cursor:pointer;" onclick="changePage('prev');"><i class="fa fa-caret-left d-block leftNav" id="next" style="font-size:2.3vw;"></i></div></li>
					<li class=" col-md-1 page-item  text-center p-0 pl-2" ><div class="page-link pb-3 pt-3 nextButton" style="cursor:pointer;" onclick="changePage('next');"><i class="fa fa-caret-right d-block rightNav" style="font-size:2.3vw;"></i></div></li>
				</ul>
			</div>

			<!-- Footer -->
			<!-- <div class="footer">
				<div class="navbar navbar expand-sm bg-dark navbar-dark">
					<ul class="navbar-nav form-group">
						<li class="navbar-item">
							<label for="type">Type:</label>
							<input class="input" type="text" >
						</li>
						<li class="navbar-item"></li>
					</ul>
				</div>
			</div> -->
		</div>
	</body>
</html>
