<html>
<head>
		{% load staticfiles %}
		<link id="bsCSS" rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

		<link id="fontsCSS" rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
</head>
<body class="custom-font" id="bootstrap-override-id" onload='loadData()'>
<script>
function loadData()
{
var str="";
	$.post("/internships/notificationData/", {'csrfmiddlewaretoken': '{{ csrf_token }}'} , function(data){
	JSON.stringify(data)
	var y=data.data;
			for(var i=0;i<y.length;i++)
			{
				str=str+"<tr><td>description : "+y[i].description+" </td><td> company : "+y[i].company+"</td>"+"<td> user : "+y[i].user+"</td><td><button onclick='response(this.firstChild.nodeValue,"+y[i].pk+")'>accept</button></td><td><button onclick='response(this.firstChild.nodeValue,"+y[i].pk+")'>reject</button></td></tr>";
				//console.log(str);
			}

		document.getElementById("list").innerHTML=str;
		});
}
function response(x,y)
{
	$.post("/internships/notificationResp/", {'response':x,'pk':y,'csrfmiddlewaretoken': '{{ csrf_token }}'});
}
</script>
<h2 id="id1">the list of groups requesting for IV</h2>
	<table id="list">
	</table>
</body>
</html>
